/* Project Sections */

.project-highlights {
    /*
    border-top: 0 !important;
    & + * {
        border-top: 0 !important;
    }
    */


    > section {
        @include vendor('display', 'flex');
        @include vendor('flex-direction', 'row');

        > .type-intro {
            background-color: _palette(bg-intro);
        }
        > .type-one {
            background-color: _palette(bg-type1);
            h2, h3, h4, h5, p, ol, li, q {
                color:_palette(fc-one);
            }
            @include padding(0em, 0em, [0,0,2,0]);
            width:100%;

            > .image {
                @include padding(0em, 0em, [0,0,8,0]);
            }
        }
        > .type-two {
            background-color: _palette(bg-type2);
            h2, h3, h4, h5, p, ol, ul, li, q {
                color:_palette(fc-one);
            }
            ol {
                list-style: upper-roman;
            }
            #finale {
                text-align: center;
            }
        }
        .content {
            @include padding(5em, 10em);
            .inner {
                margin: auto;
            }
            > .grid-wrapper {
                @include padding(0em, 0em, [2,0,0,5]);
            }

            > .pullquote {

                q {
                    font-size: larger;
                }
                &:before {
                    content: "";
                    display: block;
                    width: 40%;
                    height: 0.05em;
                    background: #cccccc;
                    margin: auto;
                    margin-top: 2em;
                    margin-bottom:2em;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 40%;
                    height: 0.05em;
                    background: #cccccc;
                    margin: auto;
                    margin-top: 2em;
                    margin-bottom:2em;
                }
            }

            .results {
                &:before {
                    content: "";
                    display: block;
                    width: 50%;
                    height: 0.05em;
                    background: #cccccc;
                    margin: auto;
                    margin-top: 2em;
                    margin-bottom:2em;
                }
            }
        }
        .img-full {
			background-position: center center;
			background-size: cover;
			border-radius: 0;
			display: block;
			position: relative;
			width: 100%;

			img {
				border-radius: 0;
				display: block;
				width: 100%;
			}
        }
        .image {
            background-position: center center;
            background-size: cover;
            border-radius: 0;
            display: block;
            position: relative;

            > .img-85 {
                img {
                    width: 100%;
                    @include padding(0em, 0em, [0,3,0,3]);
                }
            }
            .img-100 {
                img {
                    width: 100%;
                }
            }
            img {
                border-radius: 0;
                display: block;
                margin: auto;
            }

            > .img-description {
                text-align: center;
                font-style: italic;
            }

        }
        image, #quad {
            background-color: _palette(bg-type3);
            @include padding(0em, 0em, [0,3,8,3]);
            img {
                @include padding(0em, 0em, [2,0,2,0]);
            }
        }

    }
}
