/* Contact Bar */

.contact-bar {
    font-weight:100;
    font-size:16px;
    height: 5em;
    font-style: italic;
    @include padding(3em, 5em);

    .col-4 {
        text-align: center;
        img {
            display:inline-block;
            margin-bottom:-0.3em;
        }
        p {
            display: inline-block;
            padding-left:1em;
        }
    }

}
.contact-bar#upper {
    background-color: _palette(bg-intro);
    color: rgb(136,139,139);
}

.contact-bar#lower {
    color: black;
    padding-bottom: 6em;
}
